.cardList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #18273f;
    padding: 25px 0px 0px 0px;
}

.link, .link:hover {
    text-decoration: none;
}

.custom-card {
    background-color: #4753689b !important;
    color: #333;
    cursor: pointer;
    transition: all 1s;
}

.custom-card:hover {
    padding: 25px 25px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.203);
}

.imgSize {
    height: 280px;
}

.custom-title {
    font-size: 25px;
    color: #d8d8dac2;
}

.custom-text {
    color: #9e9ea4bd;
    font-weight: 450;
}

.custom-text h3 {
    color: white;
}
